services:

  db:
    build: ./Docker/mariadb
    environment:
      - MYSQL_DATABASE=userdb
      - MYSQL_ROOT_PASSWORD=test
    ports:
      - 3309:3306
    networks:
      - phpnet

  php:
    build: ./Docker/php
    volumes:
      - ./src:/var/www/html
      - /var/log/apache2/blog:/var/log/apache2/
    ports:
      - '8000:80'
    environment:
      - VIRTUAL_HOST=php.localhost
    depends_on:
      - db
    networks:
      - phpnet


#  metabase:
#    image: metabase/metabase:latest
#    #image: josste/metabase # created following https://www.metabase.com/docs/latest/installation-and-operation/running-metabase-on-docker#continue-to-setup
#    depends_on:
#      - db
#    ports:
#      - 3000:3000
#    networks:
#      - phpnet

networks:
  phpnet:
    driver: bridge