html{
    font-family: Arial, sans-serif;
}

.striped-table {
    border-collapse: collapse;
}

.striped-table tr:nth-child(even) {
    background-color: #f2f2f2;
}
.striped-table th, .striped-table td {
    border: 1px solid #ddd;
    padding: 8px;
}
.striped-table td {
    padding-left: 50px;
    padding-right: 50px;
}

.green {
    background-color: #4CAF50;
    color: white;
}
.striped-table caption {
    caption-side: top;
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

iframe.seamlessIframe {
    border: none;
    width: 90vw;
    height: 90vh;
}